body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size:20px;
}

.countries {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#singleCheckBox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.countries :hover input ~ .checkmark {
    background-color: #ccc;
}

.countries input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.countries input:checked ~ .checkmark:after {
    display: block;
}

.countries .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.inputShape {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #008080;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

    .inputShape:focus {
        width: 220px;
        border-color: #FF4444;
        border-radius: 24px;
    }

.button {
    padding: 15px 25px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #008080;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    display: block;
    margin: 20px auto;
}

    .button:hover {
        background-color: #FF4444;
    }

    .button:active {
        background-color: #FF4444;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

.userInput {
    text-align: center;
    background-color: #008080;
    color: white;
    left: 0;
    right: 0;
    margin-top: 0;
}

.amountOfSoliders {
    background-color: #FF4444;
    color: white;
    text-align: center;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.allContainers {
    height: 100%;
    border: 2px solid #008080;
    border-radius: 25px;
}

#checboxes-align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22%;
}
